* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #353535;
}

li,a,button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease;
}

.nav__links li a:hover {
    color: #0088a9;
}